<div class="row">
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Attrition Analysis</h5>
            <p class="card-text">Analyse and predict which of the employees are going to attrite in your organization and take neccessary actions to retain your valuable employees</p>
            <button class="btn btn-success app-btn" (click)="start('attrition-analysis')">Start <i class="fa fa-line-chart" aria-hidden="true"></i></button>
         </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Employee Performance</h5>
            <p class="card-text">Analyzing employees performance</p>
            <button class="btn btn-success app-btn">Start <i class="fa fa-line-chart" aria-hidden="true"></i></button>
         </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Employee Stablity</h5>
            <p class="card-text">Analyzing employee stability</p>
            <button class="btn btn-success app-btn">Start <i class="fa fa-line-chart" aria-hidden="true"></i></button>
         </div>
        </div>
    </div>
    <div class="w-100"></div>
   <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Employee Engagement</h5>
            <p class="card-text">Analyzing and enhancing employee engagement</p>
            <button class="btn btn-success app-btn">Start <i class="fa fa-line-chart" aria-hidden="true"></i></button>
         </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Employee Transfer</h5>
            <p class="card-text">Analyzing employee transfer</p>
            <button class="btn btn-success app-btn">Start <i class="fa fa-line-chart" aria-hidden="true"></i></button>
         </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Employee Health</h5>
            <p class="card-text">Analyzing and taking care of employees health. We care for each other</p>
            <button class="btn btn-success app-btn">Start <i class="fa fa-line-chart" aria-hidden="true"></i></button>
         </div>
        </div>
    </div>
  </div>